body{
    margin: 0;
}

.header{
    display: flex;
    justify-content: space-around;
    margin-top: 24px;
}

ul{
    list-style: none;
}

.links{
    gap: 60px;
    display: flex;
    justify-content: space-around;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    color: #1D3130;
}

